# **Restaurant Analysis**

---

### **1. Import necessary libraries and set up the MySQL connection:**

In [ ]:
import mysql.connector
import matplotlib.pyplot as plt

---

### **2. Establish connection to the MySQL database:**

This step connects to the **restaurant_db** database and allows for the execution of queries.

In [ ]:
conn = mysql.connector.connect(
    host="localhost",     
    user="-------",  
    password="-------",  
    database="restaurant_db"  

# Create cursor object
cursor = conn.cursor()

---

### **3. Fetch data from the Bookings and Employees tables:**

This query retrieves booking information along with the employee assigned to each booking.

In [ ]:
query = """
SELECT 
    Bookings.BookingID, 
    Bookings.TableNo, 
    Bookings.GuestFirstName, 
    Bookings.GuestLastName, 
    Bookings.BookingSlot, 
    Employees.Name AS EmployeeName, 
    Employees.Role
FROM 
    Bookings
LEFT JOIN 
    Employees ON Bookings.EmployeeID = Employees.EmployeeID
"""

cursor.execute(query)

# Fetch all results
bookings_data = cursor.fetchall()

# Display the first few rows of the data for inspection
bookings_data[:5]

***

### **4. Perform Data Analysis and Visualization:**

This section performs data analysis and visualizes the results from the database. The goal is to extract valuable insights regarding the restaurant's operations.

##### 4.1 Total Number of Bookings Per Employee

This step calculates the total number of bookings handled by each employee. The analysis helps in understanding how the workload is distributed across employees. By visualizing this data, it becomes possible to identify employees with the highest number of bookings, which can inform staffing adjustments if necessary.

In [ ]:
# Connect to MySQL database
import mysql.connector
import matplotlib.pyplot as plt

connection = mysql.connector.connect(
    host="localhost",
    user="-------",
    password="-------",
    database="restaurant_db"
)

# Create a cursor to execute SQL queries
cursor = connection.cursor()

# Query: Total number of bookings per employee
cursor.execute("""
    SELECT E.Name AS EmployeeName, COUNT(B.BookingID) AS TotalBookings
    FROM Employees E
    LEFT JOIN Bookings B ON E.EmployeeID = B.EmployeeID
    GROUP BY E.EmployeeID
    ORDER BY TotalBookings DESC
""")
employee_bookings = cursor.fetchall()

# Convert the data into two lists for plotting
employee_names = [row[0] for row in employee_bookings]
total_bookings = [row[1] for row in employee_bookings]

# Plot the total number of bookings per employee
plt.figure(figsize=(10, 6))
plt.bar(employee_names, total_bookings, color='skyblue')
plt.xlabel('Employee Name')
plt.ylabel('Total Bookings')
plt.title('Total Number of Bookings per Employee')
plt.xticks(rotation=45, ha='right')
plt.tight_layout()
plt.show()

##### 4.2 Distribution of Menu Item Types in Orders

Next, explore the distribution of different types of menu items (e.g., starters, main courses, and desserts) ordered by customers. This insight provides a clearer understanding of customer preferences, which can help with inventory management, menu planning, and marketing strategies. A pie chart is used to visually represent the proportion of orders for each menu item type.

In [ ]:
# Query: Distribution of menu item types in orders
cursor.execute("""
    SELECT MI.Type, SUM(O.Quantity) AS TotalOrders
    FROM Orders O
    JOIN Menus M ON O.MenuID = M.MenuID
    JOIN MenuItems MI ON M.ItemID = MI.ItemID
    GROUP BY MI.Type
    ORDER BY TotalOrders DESC
""")
menu_item_types = cursor.fetchall()

# Convert the data into two lists for plotting
menu_types = [row[0] for row in menu_item_types]
total_orders = [row[1] for row in menu_item_types]

# Plot the distribution of menu item types in orders
plt.figure(figsize=(8, 6))
plt.pie(total_orders, labels=menu_types, autopct='%1.1f%%', startangle=140, colors=['lightgreen', 'lightcoral', 'lightskyblue', 'gold'])
plt.title('Distribution of Menu Item Types in Orders')
plt.axis('equal')  # Equal aspect ratio ensures that pie is drawn as a circle.
plt.show()

##### 4.3 Peak Hours of Bookings

Finally, the peak hours of bookings are analyzed to identify the times with the highest number of bookings. This allows for more effective resource allocation, ensuring adequate staffing during peak periods. Additionally, this analysis aids in better kitchen planning and improves overall service efficiency.

In [ ]:
# Query: Peak hours of bookings (based on hour of booking slot)
cursor.execute("""
    SELECT HOUR(BookingSlot) AS Hour, COUNT(*) AS NumBookings
    FROM Bookings
    GROUP BY Hour
    ORDER BY NumBookings DESC
""")
peak_hours = cursor.fetchall()

# Convert the data into two lists for plotting
hours = [row[0] for row in peak_hours]
num_bookings = [row[1] for row in peak_hours]

# Plot the peak hours of bookings
plt.figure(figsize=(10, 6))
plt.bar(hours, num_bookings, color='lightseagreen')
plt.xlabel('Hour of Day')
plt.ylabel('Number of Bookings')
plt.title('Peak Hours of Bookings')
plt.xticks(range(0, 24, 1))
plt.tight_layout()
plt.show()

---

### **5. Close the MySQL connection after the analysis is complete:**

In [ ]:
cursor.close()
conn.close()